table {
    flex: 1;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
}

.table._7-3 th:nth-child(1) {
    width: 70%;
}

.table._7-3 th:nth-child(2) {
    width: 30%;
}

th, td {
    padding: 10px;
}

thead tr {
    background-color: rgba(0, 0, 0, 1);
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.6);
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

tbody td {
    text-align: center;
}