{% load static %}


<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    </head>
    <body>
        <div id="player"></div>
    </body>
</html>

<script>
    /* 
     * ==============================================
     * Setup
     * ==============================================
     */

    const username = "{{ username }}";
    const botSocket = new WebSocket("{{ url }}", "youtube");
    const audio = new Audio();
    const mediaDir = "{{ MEDIA_URL }}";
    const fileAPIURL = "{% url 'api:taggedfile' %}";

    botSocket.onopen = (event) =>
    {
        console.log("WebSocket opened!");
        let packet = {
            'username': username, 
            'init': true
        }
        botSocket.send(JSON.stringify(packet));
    }

    botSocket.onmessage = (event) =>
    {
        let incoming_data = JSON.parse(event.data);

        if (!("for" in incoming_data))
            { return; }

        console.log(incoming_data);

        if (incoming_data.for == "youtube")
        {
            // YT Vid request packet
            let youtube_url = incoming_data.redemption_data.input;
            let youtube_url_blocks = youtube_url.split(/(vi\/|v%3D|v=|\/v\/|youtu\.be\/|\/embed\/)/);
            let youtube_id = undefined !== youtube_url_blocks[2] ? youtube_url_blocks[2].split(/[^0-9a-z_\-]/i)[0] : youtube_url_blocks[0];

            console.log("Received YouTube video request with ID: " + youtube_id);
            addVideoToQueue(youtube_id, incoming_data);
        }
        if (incoming_data.for == "soundreq")
        {
            // Sound request
            console.log("Received sound request: " + incoming_data.redemption_data.input);
            getSound(incoming_data);
        }
    }

    window.onbeforeunload = function()
    {
        botSocket.onclose = function () {}; // disable onclose handler first
        botSocket.close();
        console.log("Closed websocket.");
    }

    $(document).ready(function()
    {
        $.getScript("{% static 'js/youtube.js' %}");
        $.getScript("{% static 'js/soundreq.js' %}");
    });

</script>