body {
	background-color: #000000;
	color: #ffffff;
}

.title {
	text-align: center;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 60px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.center {
	text-align: center;
}

div.blockcontent {
	padding-top: 10px;
	padding-left: 10px;
}

div.test {
	color: #18675a;
}