<div class="subcontent">
    <h2>Staff actions:</h2>
    <form action="javascript:toggleBackend()" method="post"> {% csrf_token %}
    {% if not backend_on %}
        <input type="hidden" name="command" id="backendToggle" value="startup">
        <input class="btn btn-success" type="submit" value="Startup Backend">
    {% else %}
        <input type="hidden" name="command" id="backendToggle" value="shutdown">
        <input class="btn btn-danger" type="submit" value="Shutdown Backend">
    {% endif %}
    </form>
    <form action="javascript:sendPost()" method="post">  {% csrf_token %}
        <span class="input-group">
            <input class="form-control" type="text" style="max-width: 350px" placeholder="Send message to chat" aria-label="Send message to chat" id="chatMsg">
            <button class="btn btn-primary" type="submit" value="Send" id="send_btn">Send</button>
        </span>
    </form>
</div>