{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="page-title">
    Dashboard
</div>

{% if custom_rewards == -1 %}
    <div class="">
        <b>Sorry {{ twitch_username }}, but you can't set things up at the moment.</b><br><br>
        Right now, functions are only supported via channel point redemptions, and this means you need to <br>
        be at least an affiliate to use smossbot, since affiliates get access to channel point rewards. <br>
        I know, this sucks. But in the future, commands for redemptions may be supported! For now though, keep grinding. &lt;3
    </div>
{% else %}
    <div id="session-controller">
        Loading session controller...
    </div>
    <div class="flex center">
        <a role="button" class="btn" href="{% url 'functions:index' %}" style="width: 250px; height: 250px;">
            <div class="btn-text-center">
                <i class="bi-link-45deg" style="font-size: 64px;"></i><br>
                <b>Create/Set Functions</b>
                <br><br>
                <small>
                    Give your channel points functions by choosing which channel point rewards do what!
                </small>
            </div>
        </a>
        <a role="button" class="btn" href="{% url 'functions:configure' %}" style="width: 250px; height: 250px;">
            <div class="btn-text-center">
                <i class="bi-tools" style="font-size: 64px;"></i><br>
                <b>Configure Functions</b>
                <br><br>
                <small>
                    Fine-tune functions by changing their behaviour to how you'd like.
                </small>
            </div>
        </a>
        <a role="button" class="btn" href="{% url 'files:index' %}" style="width: 250px; height: 250px;">
            <div class="btn-text-center">
                <i class="bi-folder2-open" style="font-size: 64px;"></i><br>
                <b>File Manager</b>
                <br><br>
                <small>
                    Upload files for your functions that smossbot should use!
                </small>
            </div>
        </a>
        <button class="btn" id="delete-modal-btn" style="--color: red; width: 250px; height: 250px;">
            <div class="btn-text-center">
                <i class="bi-trash3-fill" style="font-size: 64px;"></i><br>
                <b>Delete All Data</b>
                <br><br>
                <small>
                    Delete all information smossbot has stored from you if you no longer wish to be affiliated.
                </small>
            </div>
        </button>
    </div>
{% endif %}


<!-- Delete modal -->
<div class="flex center">
    <div class="modal-cnt" id="delete-modal" style="width: 750px;">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    Delete All Information
                </div>
                <div class="modal-body">
                    <b>ARE YOU SURE YOU WANT TO DELETE ALL OF YOUR INFORMATION?</b><br><br>
                    <b>ALL</b> information will be lost, including your functions, credentials, authentications, set variables, information in the database,
                    and everything else! It will be as if you never logged on to the website!<br><br>
                    <b>ARE YOU SURE?</b>
                </div>
                <div class="flex row modal-footer">
                    <div class="left">
                        <button class="btn btn-compact" id="delete-modal-btn-close" style="--color: var(--dark-accent-2nd);" type="button">
                            Close
                        </button>
                    </div>
                    <div class="right flex row">
                        <a class="btn btn-compact" href="{% url 'dashboard:delete' %}" id="delete-modal-btn-confirm" style="--color: red;" role="button">
                            <b>Yes I'm sure; NUKE IT.</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var deleteModal = new Modal($("#delete-modal"), $("#delete-modal-btn"), $("#delete-modal-btn-close"));

    function loadSessionController()
    {
        $.ajax({
            type: "GET",
            url: "{% url 'api:session' %}",
            headers: {
                Accept: "text/html"
            },
            success: function(data, status, jqXHR)
            {
                $("#session-controller").html(data);
            },
            complete: function()
            {
                let _switch = $("#session-switch");
                _switch.prop("disabled", true);
                setTimeout(function() { _switch.prop("disabled", false); }, 1500);
                _switch.off().on("change", toggleSession);
            }
        });
    }

    function toggleSession()
    {
        let _switch = $("#session-switch");
        let _switch_checked = _switch.prop("checked");
        _switch.disabled = true;

        $.ajax
        ({
            type: "POST",
            url: "{% url 'api:session' %}",
            headers: {
                Accept: "application/json"
            },
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                session: _switch.prop("checked"),
            },
            success: loadSessionController,
            error: function() { _switch.disabled = false; _switch.prop("checked", !_switch_checked); },
        });
    }

    function copyOverlayLink(btn)
    {
        navigator.clipboard.writeText("{{ overlay_link }}");

        let colorBefore = btn.style.backgroundColor;
        let innerHTMLBefore = btn.innerHTML;

        btn.style.backgroundColor = "green";
        btn.innerHTML = "Copied! Paste into OBS. <i class=\"bi-check-lg\"></i>";
        setTimeout(function()
        {
            btn.style.backgroundColor = colorBefore;
            btn.innerHTML = innerHTMLBefore;
        }, 5000);
    }

    loadSessionController();

</script>


{% endblock %}