{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Dashboard{% endblock %}

{% block content %}


<div class="subcontent">
    <h2><b><u>Authentication</u></b></h2>
    {% if twitch_code and spotify_code %}
        <button type="button" class="btn btn-success" disabled>
            <i class="bi-twitch"></i> <i class="bi-spotify"></i>&nbsp;&nbsp;<b>Fully authenticated!</b>
        </button>
    {% else %}
        <p>Authenticate with different sites. Spotify is required for song requests.</p>
        {% if twitch_code %}
            <button type="button" class="btn btn-success" disabled>
                <i class="bi-twitch"></i>&nbsp;&nbsp;<i class="bi-check-lg"></i>
            </button>
        {% else %}
            <a class="btn btn-primary" href="{{ twitch_auth_url }}" role="button"><i class="bi-twitch"></i> Twitch Sign In</a>
        {% endif %}
        {% if spotify_code %}
            <button type="button" class="btn btn-success" disabled>
                <i class="bi-spotify"></i>&nbsp;&nbsp;<i class="bi-check-lg"></i>
            </button>
        {% else %}
            <a class="btn btn-primary" href="{{ spotify_auth_url }}" role="button"><i class="bi-spotify"></i> Spotify Sign In</a>
        {% endif %}
    {% endif %}
    {% if registered %}
        <a class="btn btn-primary" href="{% url 'dashboard:resend' %}" role="button"><i class="bi-arrow-clockwise"></i> Refresh Data</a>
    {% endif %}
    <br>
</div>
{% if custom_rewards == -1 %}
    <div class="alert alert-danger" role="alert">
        <b>Sorry {{ twitch_username }}, but you can't set things up at the moment.</b><br><br>
        Right now, functionality is only supported via channel point redemptions, and this means you need to <br>
        be at least an affiliate to use smossbot, since affiliates get access to channel point rewards. <br>
        I know, this sucks. But in the future, commands for redemptions may be supported! For now though, keep grinding. &lt;3
    </div>
{% else %}
    <div class="subcontent">
        <h2><b><u>Bindings</u></b></h2>
        {% if twitch_code %}
            <p>Bind whatever channel point rewards you want. Choose the reward from the dropdown, and click "Bind SR".<br>
            Some are only possible to bind when authenticated with certain methods under <b>Authentication</b>.</p>
            <div class="req_controller"> {% include "dashboard/req_controller.html" %} </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p>You aren't logged in with Twitch; please authenticate!</p>
            </div>
        {% endif %}
    </div>

    <div class="session_controller"> {% include "dashboard/session_controller.html" %} </div>
{% endif %}

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>June 26, 2023 - v0.3.1</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Refactoring and Fixes</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent" style="color:white;">There isn't much in this new version, but things have been changed a lot in the backend.</li>
            <li class="list-group-item bg-transparent" style="color:white;">The way the data was stored in the backend was highly inefficient made possible by a bunch of design oversights, which has made
                                                                              development slowly become a nightmare. To remedy this, the storage method was changed so that it's a lot less of a garbage pile,
                                                                              and is instead more pleasant to work with.</li>
            <li class="list-group-item bg-transparent" style="color:white;">Additionally, the way the site communicates to the backend has been streamlined and paves the way for future updates. For those
                                                                              interested to know, the site and the actual Twitch bot are two different programs. The site that you're looking at right now is
                                                                              just simply an interface for you to interact with the real brains of smossbot, and the brains include listening to channel point
                                                                              redemptions, storing and accessing data, and such. Web sockets have been implemented to allow more real-time communication.</li>
            <li class="list-group-item bg-transparent" style="color:white;">Fixed a <b>bunch</b> of edge-cases with the site to hopefully reduce error codes, and instead handles them gracefully.</li>
            <li class="list-group-item bg-transparent" style="color:white;">Finally, the site has been updated to the latest version of Django.</li>
            <li class="list-group-item bg-transparent" style="color:white;">Attempted to fix a bug where depression caused a 100% debuff to productivity, but failed. The team is actively investigating this.</li>
        </ul>
    </div>
</div>


<script>
    function toggleSession(obj)
    {
        let endpoint = "";
        let id_before = "";
        
        if ($(obj).is(":checked"))
            { endpoint = "start_endpoint"; }
        else
            { endpoint = "end_endpoint"; }
        obj.disabled = true;

        let divclass = "session_controller";
        callEndpoint(endpoint, divclass);
    }

    function refreshData()
    {
        $.ajax({
            url: "{% url 'dashboard:resend' %}"
        });
    }

    function callEndpoint(endpoint, divclass)
    {
        $("." + divclass).load("{% url 'dashboard:callAPI' %}?endpoint=" + endpoint + "&divclass=" + divclass);
    }
</script>


{% endblock %}