<div>

    {% if messages %}
    <br>
    <div>
        {% for message in messages %}
            <div class="alert alert-dismissible fade show
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% endif %}
            " role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% for code_name, code_bind in reward_info.items %}
    <div class="sidebyside" style="min-width: 500px;">
        <h3><b>
            {% if code_name == "songreq" %} Spotify Song Requests
            {% elif code_name == "chatgpt" %} ChatGPT Chat Requests
            {% elif code_name == "songskip" %} Spotify Song Skips
            {% elif code_name == "ytreq" %} YouTube Requests
            {% elif code_name == "gptimage" %} ChatGPT Image Requests
            {% elif code_name == "soundreq" %} Sound Requests
            {% endif %}
        </b></h3>
            <span class="input-group mb-3 mx-auto">
                <select name="{{ code_name }}_id" id="{{ code_name }}_dropdown" class="form-select">
                    <option value="" {% if not reward_code.bind %}selected{% endif %}>Reward:</option>
                    {% for reward in twitch_rewards %}
                        <option value="{{ reward.reward_id }}" {% if reward.reward_id == code_bind.id %}selected{% endif %}>{{ reward.reward_title }}</option>
                    {% endfor %}
                </select>
                {% if not code_bind.bot_created %}
                    <button type="button" id="{{ code_name }}_btn" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#custom-reward-popup" data-bs-reward="{{ code_name }}" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Create a New Reward">
                        <i class="bi-plus-circle"></i>
                    </button>
                {% endif %}
                {% if code_bind %}
                    <button type="button" id="{{ code_name }}_delbtn" class="btn btn-danger" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Unbind Reward" onclick="unbindReward('{{code_name}}')">
                        <i class="bi-trash3"></i>
                    </button>
                {% endif %}
            </span>
            {% if code_bind %}
                <p>Selected: <b>{{ code_bind.title }}</b></p>
            {% else %}
                <p>Currently not binded.</p>
            {% endif %}
    </div>
    {% endfor %}
    <br>
    <form action="javascript:bindReward()" method="post"> {% csrf_token %}
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" id="bind_btn"><b>Bind Rewards</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi-link-45deg"></i></button>
        </div>
    </form>
    <br>
    <form action="javascript:createReward()" method="post"> {% csrf_token %}
        <div class="modal fade" id="custom-reward-popup" tabindex="-1" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.25);">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="background-color: black;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="custom-reward-header">Create Custom Reward</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form> {% csrf_token %}
                            <input type="hidden" id="hidden_reward_id" value="NONE">
                            <div class="container">
                                <div class="mb-3">
                                    <ul>
                                        <li>This menu will automatically create an entirely new custom reward in your channel, and bind it to whatever functionality you chose.</li>
                                        <li>The fields have been pre-filled for you, but I recommend editing it all to your liking. You can also edit it in Twitch to set a picture, etc.</li>
                                        <li>Creating a reward in this menu allows smossbot to <b>automatically refund</b> failed redemptions so you don't have to.</li>
                                        <li>Due to the way that Twitch works, bots can only refund channel point redemptions if they are the ones that created the channel point reward.</li>
                                    </ul>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-9">
                                        <label for="reward-name" class="col-form-label">Reward Name</label>
                                        <input type="text" class="form-control" id="reward-name">
                                    </div>
                                    <div class="col">
                                        <label for="cost" class="col-form-label">Cost</label>
                                        <input type="text" class="form-control" id="cost">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-9">
                                        <label for="description" class="col-form-label">Description</label>
                                        <textarea class="form-control" id="description"></textarea>
                                    </div>
                                    <div class="col">
                                        <label for="_color" class="col-form-label">Color</label>
                                        <input type="color" class="form-control" id="_color" style="height: 65%;">
                                    </div>
                                </div>
                                <div class="mb-3" id="text-required-section">
                                    <div class="sidebyside">
                                        <label for="text-required" class="col-form-label">Require Viewer to Enter Text</label>
                                    </div>
                                    <div class="form-switch sidebyside">
                                        <input class="form-check-input" type="checkbox" role="switch" id="text-required" style="transform: scale(1.25);">
                                    </div>
                                    <div>
                                        <small>If enabled, a required text field will appear to viewers in the reward.</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="sidebyside">
                                        <label for="has-cooldown" class="col-form-label">Cooldown & Limits</label>
                                    </div>
                                    <div class="form-switch sidebyside">
                                        <input class="form-check-input" type="checkbox" role="switch" id="has-cooldown" style="transform: scale(1.25);">
                                    </div>
                                    <div>
                                        <small>If enabled, allows you to set various cooldown rules.</small>
                                    </div>
                                </div>
                                <div class="mb-3" id="cooldown-section">
                                    <div class="sidebyside">
                                        <label for="cooldown-time" class="col-form-label">Cooldown Time</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cooldown-time">
                                            <select class="form-select" id="cooldown-time-unit">
                                                <option selected value="Minutes">Minutes</option>
                                                <option value="Hours">Hours</option>
                                                <option value="Days">Days</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 sidebyside">
                                        <label for="cooldown-limit" class="col-form-label">Limit Per Stream</label>
                                        <input type="text" class="form-control" id="cooldown-limit">
                                    </div>
                                    <div class="mb-3 sidebyside">
                                        <label for="cooldown-userlimit" class="col-form-label">Limit Per User Per Stream</label>
                                        <input type="text" class="form-control" id="cooldown-userlimit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="create_btn"><b>Create New Reward</b></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>

    $(function () {
        $('[data-bs-custom-class="custom-tooltip"]').tooltip({trigger: 'hover'});
    });

    var rewardModal = document.getElementById("custom-reward-popup");

    if (rewardModal) {
        rewardModal.addEventListener('show.bs.modal', event =>
        {
            var button = event.relatedTarget;
            var reward = button.getAttribute("data-bs-reward");

            // TODO: Clean this up!!!! There has to be a better way for this trash
            switch (reward)
            {
                case "songreq":
                    rewardModal.querySelector(".modal-title").textContent = "Create Spotify Song Request Reward";
                    rewardModal.querySelector("#reward-name").value = "Request Spotify Song";
                    rewardModal.querySelector("#description").value = "SPOTIFY ONLY: Request a song found on Spotify. Using \"Share > Copy Song Link\" is the best method, but you can also just type the song and artist name, but it might rarely mess up.";
                    rewardModal.querySelector("#cost").value = 500;
                    rewardModal.querySelector("#_color").value = "#1DB954";
                    break;
                case "songskip":
                    rewardModal.querySelector(".modal-title").textContent = "Create Spotify Song Skip Reward";
                    rewardModal.querySelector("#reward-name").value = "Skip Spotify Song";
                    rewardModal.querySelector("#description").value = "SPOTIFY ONLY: Skip the current song that's playing.";
                    rewardModal.querySelector("#text-required").checked = false;
                    rewardModal.querySelector("#text-required").disabled = false;
                    rewardModal.querySelector("#text-required-section").style.display = "inline";
                    rewardModal.querySelector("#cost").value = 1000;
                    rewardModal.querySelector("#_color").value = "#1DB954";
                    break;
                case "chatgpt":
                    rewardModal.querySelector(".modal-title").textContent = "Create ChatGPT Reward";
                    rewardModal.querySelector("#reward-name").value = "ChatGPT";
                    rewardModal.querySelector("#description").value = "Type something to ChatGPT; whatever you type gets directly sent to it!";
                    rewardModal.querySelector("#cost").value = 100;
                    rewardModal.querySelector("#_color").value = "#00A67E";
                    break;
                case "ytreq":
                    rewardModal.querySelector(".modal-title").textContent = "Create YouTube Request Reward";
                    rewardModal.querySelector("#reward-name").value = "YouTube Video Request";
                    rewardModal.querySelector("#description").value = "Request a YouTube video to play on-stream! Some videos may not play due to copyright issues or their creators disabling embedding.";
                    rewardModal.querySelector("#cost").value = 2500;
                    rewardModal.querySelector("#_color").value = "#FF0000";
                    break;
                case "gptimage":
                    rewardModal.querySelector(".modal-title").textContent = "Create ChatGPT Image Request Reward";
                    rewardModal.querySelector("#reward-name").value = "ChatGPT Image Request";
                    rewardModal.querySelector("#description").value = "Request ChatGPT to generate an image with the prompt you give it.";
                    rewardModal.querySelector("#cost").value = 250;
                    rewardModal.querySelector("#_color").value = "#00A67E";
                    break;
                case "soundreq":
                    rewardModal.querySelector(".modal-title").textContent = "Create Sound Request Reward";
                    rewardModal.querySelector("#reward-name").value = "Sound Request";
                    rewardModal.querySelector("#description").value = "Type the name of a sound, and it'll play on stream.";
                    rewardModal.querySelector("#cost").value = 250;
                    rewardModal.querySelector("#_color").value = "#878700";
                    break;
            }
            
            rewardModal.querySelector("#hidden_reward_id").value = reward;
            rewardModal.querySelector("#text-required").checked = true;
            rewardModal.querySelector("#text-required").disabled = true;
            rewardModal.querySelector("#text-required-section").style.display = "none";
            rewardModal.querySelector("#has-cooldown").checked = false;
            rewardModal.querySelector("#cooldown-time").value = 0;
            rewardModal.querySelector("#cooldown-limit").value = 0;
            rewardModal.querySelector("#cooldown-userlimit").value = 0;

            rewardModal.querySelector("#cooldown-time").disabled = true;
            rewardModal.querySelector("#cooldown-limit").disabled = true;
            rewardModal.querySelector("#cooldown-userlimit").disabled = true;
            rewardModal.querySelector("#has-cooldown").addEventListener("click", event =>
            {
                if (rewardModal.querySelector("#has-cooldown").checked)
                {
                    rewardModal.querySelector("#cooldown-time").disabled = false;
                    rewardModal.querySelector("#cooldown-limit").disabled = false;
                    rewardModal.querySelector("#cooldown-userlimit").disabled = false;
                }
                else
                {
                    rewardModal.querySelector("#cooldown-time").disabled = true;
                    rewardModal.querySelector("#cooldown-limit").disabled = true;
                    rewardModal.querySelector("#cooldown-userlimit").disabled = true;
                }
            });
        });
    }


    function clearTooltips()
    {
        $(function () {
            $('[data-bs-custom-class="custom-tooltip"]').tooltip('dispose');
        });
    }


    function bindReward()
    {
        console.log("Binding rewards.");
        let songreq_id = $("#songreq_dropdown").val() || null;
        let chatgpt_id = $("#chatgpt_dropdown").val() || null;
        let songskip_id = $("#songskip_dropdown").val() || null;
        let ytreq_id = $("#ytreq_dropdown").val() || null;
        let gptimage_id = $("#gptimage_dropdown").val() || null;
        let soundreq_id = $("#soundreq_dropdown").val() || null;
        clearTooltips();
        $(".req_controller").load(
            "{% url 'dashboard:bind' %}?songreq=" + songreq_id + 
            "&songskip=" + songskip_id + 
            "&chatgpt=" + chatgpt_id + 
            "&ytreq=" + ytreq_id +
            "&gptimage=" + gptimage_id,
            "&soundreq=" + soundreq_id,
        function(response, status)
        {
            let btn = document.getElementById("bind_btn");
            let colorBefore = btn.style.backgroundColor;

            if (status != "error")
            {
                btn.style.backgroundColor = "green";
                btn.innerHTML = "<b>Binded!</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"bi-check-lg\"></i>";
                setTimeout(function() {
                    btn.style.backgroundColor = colorBefore;
                    btn.innerHTML = "<b>Bind Rewards&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"bi-link-45deg\"></i></b>";
                }, 3000);
            }
            else
            {
                btn.style.backgroundColor = "red";
                btn.innerHTML = "<b>Error occured!</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"bi-x\"></i>";
                setTimeout(function() {
                    btn.style.backgroundColor = colorBefore;
                    btn.innerHTML = "<b>Bind Rewards&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"bi-link-45deg\"></i></b>";
                }, 3000);
            }
        });
    }


    function unbindReward(code)
    {
        clearTooltips();
        $(".req_controller").load(
            "{% url 'dashboard:unbind' %}?reward_code=" + code
        );
    }


    function createReward()
    {
        clearTooltips();
        console.log("Creating reward.");

        let cooldown_time_unit = rewardModal.querySelector("#cooldown-time-unit").value;
        let cooldown_time = parseInt(rewardModal.querySelector("#cooldown-time").value);

        switch (cooldown_time_unit)
        {
            case "Days":
                cooldown_time *= 24;
            case "Hours":
                cooldown_time *= 60;
            case "Minutes":
                cooldown_time *= 60;
                break;
        }

        let _data =
        {
            'reward-name': rewardModal.querySelector("#reward-name").value,
            'description': rewardModal.querySelector("#description").value,
            'text-required': rewardModal.querySelector("#text-required").checked,
            'cost': rewardModal.querySelector("#cost").value,
            'color': rewardModal.querySelector("#_color").value,
            // 'auto-skip': rewardModal.querySelector("#auto-skip").checked,
            'has-cooldown': rewardModal.querySelector("#has-cooldown").checked,
            'cooldown-time': cooldown_time,
            'cooldown-limit': rewardModal.querySelector("#cooldown-limit").value,
            'cooldown-userlimit': rewardModal.querySelector("#cooldown-userlimit").value,
            'reward-code-id': rewardModal.querySelector("#hidden_reward_id").value,
            'csrfmiddlewaretoken': "{{ csrf_token }}"
        };

        let element_id = rewardModal.querySelector("#hidden_reward_id").value + "_btn";
        
        $('#custom-reward-popup').modal('hide');

        $(".req_controller").load("{% url 'dashboard:create' %}", _data, function(response, status)
        {
            let btn = document.getElementById(element_id);
            if (btn)
            {
                let colorBefore = btn.style.backgroundColor;

                if (status == "error")
                {
                    btn.style.backgroundColor = "red";
                    btn.innerHTML = "<i class=\"bi-x-lg\"></i>";
                    setTimeout(function()
                    {
                        btn.style.backgroundColor = colorBefore;
                        btn.innerHTML = "<i class=\"bi-plus-circle\"></i></b>";
                    }, 3000);
                }
            }
        });
    }

</script>


