<div class="info-container">
    {% if not active_session %}
        <label class="switch-container">
            <input type="checkbox" role="switch" id="session-switch">
            <span class="switch"></span>
        </label>
        <div class="info-header">
            smossbot is currently <b>OFF.</b>
        </div>
        <div class="info-body">
            Slide this on to turn the bot on in your chat. You must do this for it to listen for requests and work.
        </div>
    {% else %}
        <label class="switch-container">
            <input type="checkbox" role="switch" id="session-switch" checked>
            <span class="switch"></span>
        </label>
        <div class="info-header">
            smossbot is currently <b>ON.</b>
        </div>
        <div class="info-body">
            smossbot should be in your chat! Type "!ping" in your chat and smossbot should say "Pong!"
            If not, try sliding this off then on again. Sorry for the inconvenience!
            <br><br>
            Make sure to slide this back off when you end stream! This turns the bot off in your chat so you don't get offline requests.<br>
            <b>NOTE:</b> You can get offline requests only for rewards without a cooldown. If your rewards have cooldowns, don't worry.
        </div>
    {% endif %}
</div>