{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Gatekept{% endblock %}

{% block content %}
<h1 class="title">
    changelog WOOHOOOO
</h1>


<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>September 19, 2023 - v0.4.0</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Sound requests, File Manager</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Sound requests are now live! Bind them in your Dashboard, and get them to play on stream using the same overlay as YouTube requests.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The URL for YouTube requests (and sound requests) can now be copied from your Dashboard.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                To upload sound files for sound requests, a new File Manager button has been added to the Bindings section on the Dashboard.
                To play the sounds, a user will need to redeem the binded reward for sound requests, and type in the name of the tag that
                you put in during file upload. File tags can be changed.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The File Manager is very limited in that you can't upload too many files with too big of sizes, namely the fact that there can be a lot
                of potential usage. Once resources increase on my end in terms of hardware and finances, this'll be raised. Case-by-case increases for
                these limits (found on the File Manager page) can be negotiated by DMing me.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Added some under-the-hood support for a potential dashboard for channel moderators in the future.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>September 08, 2023 - v0.3.3</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Small tweaks, bug fixes, public GitHub</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The GitHub repository for this website (but not the bot itself, for now) is now up on GitHub! Check the footer to go to it.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Refactored some very redundant code in the front-end that was causing me a huge headache to maintain related to display of
                channel point dropdowns.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Refactored the bot's code heavily, and optimized file structure. Fun fact: the code for the entire Twitch bot was done in 3 files,
                each with hundreds of lines of code. Now, the files are split into around 5 folders and a total of 10-ish files!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Fixed every request other than YouTube requests not automatically refunding failed redemptions (as always, only if the reward
                and bind were done in-site).
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Fixed the website deactivating your session if you had an active one going, and logged in to the website after being
                timed out.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                (Finally) fixed the incorrect instructions in the <b>Bindings</b> section of the Dashboard.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>July 13, 2023 - v0.3.2</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>YouTube requests, in-site Channel Point Reward creation/unbinding, more refactoring</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                YouTube requests are now functional, but experimental; bind the reward in your Dashboard, then open OBS and create a browser
                source that links to <b>https://www.smossbot.com/overlay/yourusernamehere</b>, with dimensions 1280x720. By default, videos will play
                until they are finished and will mute Spotify, if you have songs playing. To change this behaviour, go to the <b>Commands</b> page at
                the top and read the <i>!variable</i> command.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                You will now see a blue + button next to each channel point reward dropdown. Creating a channel point reward in this menu will
                automatically bind it, and <b>allows for automatic accepting/refunding of channel point rewards</b>. Conversely, a red trash button shows
                up if you'd like to completely unbind whatever functionality from whatever reward. Unbinding a reward created in-site will delete it
                completely.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                At the top under <b>Authentication</b>, you will see a "Delete All Information" button. This button is dangerous and does exactly what it
                says; it wipes your data from the database. This includes all binds, variables set, credential tokens, and everything else. If you're
                experiencing errors, this button may help. In general though, don't ever click it (unless you want to), and instead report bugs to me.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Additionally, more refactoring was done in regards to data storage. Information is now stored in a more proper way, and is hopefully the
                last time storage should need to be changed.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Removed legacy support for users who didn't update their credentials. This more refined storage system makes the legacy system
                unmaintainable and nearly impossible.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Updated Bootstrap to version 5.3.0, and made various small tweaks to formatting around the website.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                August 12, 2036, The Heat Death of the Universe.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>June 26, 2023 - v0.3.1</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Refactoring and fixes</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                There isn't much in this new version, but things have been changed a lot in the backend.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The way the data was stored in the backend was highly inefficient made possible by a bunch of design oversights, which has made development
                slowly become a nightmare. To remedy this, the storage method was changed so that it's a lot less of a garbage pile, and is instead more
                pleasant to work with.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Additionally, the way the site communicates to the backend has been streamlined and paves the way for future updates. For those
                interested to know, the site and the actual Twitch bot are two different programs. The site that you're looking at right now is
                just simply an interface for you to interact with the real brains of smossbot, and the brains include listening to channel point
                redemptions, storing and accessing data, and such. Web sockets have been implemented to allow more real-time communication.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Fixed a <b>bunch</b> of edge-cases with the site to hopefully reduce error codes, and instead handles them gracefully.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Finally, the site has been updated to the latest version of Django.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Attempted to fix a bug where depression caused a 100% debuff to productivity, but failed. The team is actively investigating this.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>June 04, 2023 - v0.3.0</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Facelift and Song Skips</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Lots of changes! <b>Firstly, you MUST update your data. After having signed in again to Twitch, click "Refresh Data" and then
                turn smossbot back on in your chat by clicking the slider. I did my best to keep backwards compatability, but PLEASE update
                as any neglect to do so won't be supported in the long-term.</b>
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The reason for this is 1: the way that smossbot did channel points before was very "hacky", and wasn't
                proper. Implementing this properly means changing the whole system for channel point redemption listening, which means you having
                to send over new data from the website.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                2: New permissions need to be given to smossbot for it to function properly, and thus, another authentication from you was necessary
                and needs to be passed to the backend by clicking the "Refresh Data" button. If you noticed, you had to give more permissions than
                the first time you logged in, and noticed some scary bold words. Don't worry, I have a LOT of more things to worry about than changing
                your channel point redemptions. :p
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Secondly, a navigation bar now sits at the top of the webpage to show all of the places you'll ever need in one place.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The Command Guide and Change Log have been moved to the new navigaton bar.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The button to log in with Twitch now sits at the right of the navigation bar, as well as the log out button.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The background is now a nice animated gradient to add some more "life" into the site, instead of a bland gradient.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The Dashboard should hopefully look a little bit cleaner. The aforementioned log out button has been removed.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                More changes are to be done in the future regarding looks; hopefully this is the first of many!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                On another note, the website now enforces Twitch's token validation policy. Every hour, Twitch requires developers to validate
                the credentials that you gave to me whenever you first signed in. To enforce this, I now validate the token every time you load
                up any page that requires Twitch login, aka the Dashboard. Unfortunately, this means that load times will take a small hit, but
                this is miles better than being audited by Twitch and getting the whole site taken down. :)
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Under-the-hood change: smossbot now uses a bit of a better detection method for channel point redemptions. Functionally, this
                should exhibit little to no difference, but there may be some new performance bugs rising. As always, I'll be monitoring and
                hotfixing appropriately.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Lastly, there is now a new bindable reward: <b>Spotify Song Skips</b>! When redeemed, the current song playing gets skipped.
                Funnily enough, just this change required the under-the-hood change listed above, which was NOT that easy.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Created <b>$smoss</b>, my very own cryptocurrency. It has no value right now, but invest all you can. The value can only go up!
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 30, 2023 - v0.2.7</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>The Command Guide and Change Log</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Two new links have been added to the footer: the <b>Command Guide</b> and the <b>Change Log</b>!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Command Guide: Broadcasters and Moderators can now visit this for information on any commands that smossbot may have.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Change Log: Here is where a list of changes regarding smossbot are displayed so you can keep up with its changes.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Removed the hot local single in your area.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 29, 2023 - v0.2.6</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Minor performance changes</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Removed a bunch of unnecessary buttons, improving the flow of the website.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Turning the bot on and off is now a "switch", and no longer needs to be done when updating bindings.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The site now sends your data as you authenticate and bind.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Cats now have a 50% increased chance to meow when presented with a lavender T-shirt.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 25, 2023 - v0.2.5</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>ChatGPT fixes</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Fixed an issue causing the bot to not clear out older messages to make way for newer messages.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Started work on ChatGPT-integrated Rocket League bots for a more toxic experience.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 20, 2023 - v0.2.4</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>A smarter ChatGPT</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                ChatGPT is now smarter! It will remember the past several conversations you had with it instead of always forgetting everything.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                It won't remember everything though; because of the way the API works, it can only remember about (on average) the last 15 messages
                (from both you and it, a total of 30) until it needs to clear out earlier messages.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Implemented a rare 0.001% chance for smossbot to turn into a goth mommy, for each chat message sent.
            </li>                                                               
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 19, 2023 - v0.2.3</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Experience improvements</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Implemented new features to make the website experience more responsive (webpages no longer reload unnecessarily).
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Improved the layout to be both a bit more intuitive and presentable.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Reduced the amount of new chatters coming in to chat to ask to trade or play Rocket League with you.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 02, 2023 - v0.2.2</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>The !variable command</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Available to broadcasters and their moderators, the !variable command tweaks various parts of smossbot so that you can fine-tune
                it specially for your chat.</li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                To view what variables you can set, head on over to the <b>Command Guide</b> found at the footer of this page.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Implemented under-the-hood support for smossbot's 2024 Presidential Campaign.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>April 23, 2023 - v0.2.1</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Experience improvements</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Removed the login page entirely, and added a "Login with Twitch" button to the homepage. Eligibility to sign-in is determined by a
                whitelist.</li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Made the layout a bit more neat.</li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                (Meta) Set up a private GitHub repository containing the website's code for easier updates in the future, but mainly for my sanity.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Slightly increased the amount of French teammates samurai_rawad receives.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>March 21, 2023 - v0.2.0</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>smossbot x ChatGPT</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                smossbot now has ChatGPT functionality!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Changed some underlying logic to accomodate for this, and for all future features.
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Set the date for Jessie's comeback stream for about 6 weeks out from now.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 18, 2022 ~~ August 22, 2022 - v0.1.1</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>Mini-facelift</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                The obnoxious barebones look has been tossed out; the website now utilizes Bootstrap for formatting and looks!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                This isn't too optimal because Bootstrap doesn't seem too well-accepted with products, so I'll try to get a more polished, unique
                look in the future!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Signed, Twitch's Certified Bootstrap One-Trick Pony™.
            </li>
        </ul>
    </div>
</div>

<div class="card text-bg-dark mb-3">
    <h5 class="card-header"><b><u>May 18, 2022 - v0.1.0</b></u></h5>
    <div class="card-body">
        <h5 class="card-title"><b>It's alive!!!</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                smossbot is now live, with song request functionality available!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Currently, the site is on a heavy whitelist. As it becomes more stable and feature-rich, I'll add more and become more public!
            </li>
            <li class="list-group-item list-group-item-dark bg-transparent" style="color:white;">
                Thanks Pads for being the first ever person to test this out. &lt;3
            </li>
        </ul>
    </div>
</div>

  
{% endblock %}