{% extends 'base.html' %}

{% load static %}
{% load bootstrap_icons %}


{% block title %}Commands{% endblock %}

{% block content %}
<div class="page-title">
    smossbot's commands for the MODS
</div>

<div class="command-cnt white-shadow">
    <div class="command-name center-text">!ping</div>
    <div class="command-body center-text">
        smossbot responds with <b>&nbsp;Pong!&nbsp;</b> to let you know it's active and listening.
    </div>
    <div class="command-footer center-text">Permission level: Viewer</div>
</div>

<div class="command-cnt white-shadow">
    <div class="command-name center-text">!songskip</div>
    <div class="command-body center-text">
        Manually skips the song currently playing.
    </div>
    <div class="command-footer center-text">Permission level: Moderator+</div>
</div>

<div class="command-cnt white-shadow">
    <div class="command-name center-text">!variable &lt;variablename&gt; &lt;value&gt;</div>
    <div class="command-body">
        Updates various values that tweak how certain parts of smossbot work, so you can fine-tune behaviours.
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">variablename</th>
                    <th scope="col">value</th>
                    <th scope="col">Purpose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">songreq:emote</th>
                    <td>Any</td>
                    <td>The emote that appears before the song request message.
                        <br><small><i>Default: Okayge</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">chatgpt:clearsize</th>
                    <td>[1,2,3,...]</td>
                    <td>
                        An integer (whole number) representing how many past exchanges should be cleared at a time until ChatGPT can
                        continue on with more conversations.
                        <br><small><i>Default: 2</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">chatgpt:showfull</th>
                    <td>True OR False</td>
                    <td>
                        If set to "true", smossbot will not cut off the response from ChatGPT, which will lead to <b>a lot</b> of
                        messages from smossbot. Precisely, smossbot will send as much Twitch messages as it needs to post the complete
                        ChatGPT response, typically a maximum of 5. If set to "false" (or anything else), it'll cut it off and replace
                        the end with "... (max 500)".
                        <br><small><i>Default: false</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">chatgpt:maxprompttokens</th>
                    <td>[1,2,3,...]</td>
                    <td>
                        An integer (whole number) representing how many tokens ChatGPT can use for the chat completion. A shorter number
                        means the responses are forced to be more concise, and a larger number means the responses are more thorough.
                        If you set the number too short for responses to be shorter though, ChatGPT may give you a garbage/junk response. 
                        For reference, 256 is the minimum recommended amount of tokens ChatGPT needs to supply a successful response.
                        <br><small><i>Default: 256</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">gptimage:imagesize</th>
                    <td>[1,2,3]</td>
                    <td>
                        An integer (whole number) between 1 and 3, inclusive, representing the size of generated images by ChatGPT. The 
                        sizes, respectively, are: 256x256, 512x512, and 1024x1024.
                        <br><small><i>Default: 2</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">songskip:emote</th>
                    <td>Any</td>
                    <td>The emote that appears before the song skip message.
                        <br><small><i>Default: PepeLaugh</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">ytreq:maxsecs</th>
                    <td>[1,2,3,...]</td>
                    <td>An integer (whole number) representing how many seconds, at the maximum, incoming YouTube requests should play for.
                        <br><small><i>Default: 60</i></small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">ytreq:mutespotify</th>
                    <td>"true" OR "false"</td>
                    <td>If set to "true", incoming YouTube requests will pause your Spotify playback for the duration of the videos.
                        If multiple videos are queued, Spotify will only resume once all queued videos are done.
                        <br><small><i>Default: true</i></small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="command-footer center-text">Permission level: Moderator+ OR xzmozxx</div>
</div>
  
{% endblock %}