{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="page-title">
        smossbot being publicly released soon!
    </div>

    <h2>
        {% if twitch_username %}
        <div class="flex center">
            <a role="button" class="btn flex col center-text" href="{% url 'dashboard:index' %}" style="width: 250px; height: 250px;">
                <div>Hey {{ twitch_username }}!</div>
                <div><b>Head to your dashboard</b></div>
                <br>
                <div><i class="bi-arrow-right"></i><i class="bi-arrow-right"></i><i class="bi-arrow-right"></i></div>
            </a>
        </div>
            <br><br>
        {% endif %}
    </h2>

    <h2>
        <p>
            smossbot is a Twitch bot that offers features for your stream, right from your chat for your viewers to use.
            <br><br>
            Through this website, you can set up features such as Spotify song requests, ChatGPT conversations, and YouTube video requests - all from this website in a matter of minutes!
            <br><br>
            smossbot is currently in open beta, which means the bot is available to use for anybody. However, the bot is incomplete in this state; features and fixes are incrementally being added.
            <br><br>
            If there are any questions about how to get things set up, feel free to contact me!
        </p>
    </h2>
</div>

{% endblock %}