{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="page-title">
        smossbot being publicly released soon!
    </div>

    <h2>
        {% if twitch_username %}
        <div class="flex center">
            <a role="button" class="btn center-text" href="{% url 'dashboard:index' %}" style="width: 250px; height: 250px;">
                <div class="flex col">
                    <div class="center-text">Hey {{ twitch_username }}!</div>
                    <br>
                    <div>
                        <b>Head to your dashboard</b>&nbsp;<i class="bi-arrow-right"></i>
                    </div>
                </div>
                
            </a>
        </div>
            <br><br>
        {% endif %}
    </h2>

    <h2>
        <p>
            smossbot is a Twitch bot that offers features for your stream, right from your chat for your viewers to use.
            <br><br>
            Through this website, you can set up features such as Spotify song requests, ChatGPT conversations, and YouTube video requests - all from this website in a matter of minutes!
            <br><br>
            smossbot is currently in closed beta, which means access is limited to users on a whitelist. If you'd like to request access, contact me below!
        </p>
    </h2>
</div>

{% endblock %}